
<div class="bundle_products"> 
  <h6>{{ bundle_heading }}</h6>
  <ul  class="my-ul"> 

    {% for product in collection_bundle_list.products %}
    <li class="bundle-item" data-id="{{product.first_available_variant.id}}">
      <div class="img"> 
        <img src="{{  product.featured_image | img_url: '100' | format: 'jpg' }}">           
      </div>
      <div class="product_content">
        <h3>{{ product.title }}</h3>
      </div>
    </li> 
    {% endfor %} 
    
    <li class="bundle-item active" id="variant-detail-id" style="display: none;" data-id="{{ product.selected_or_first_available_variant.id }}"></li>
  </ul>  
</div>

<style>

</style>

