{%- comment -%}
  Parameters:
  - is_cart {Boolean} - Recommendations are for the cart contents.
  - intent {Boolean} - Recommendations intent - 'related' or 'complementary' (optional, default is 'related').
  - products_to_show {Number} - Maximum number of products to show.
  - heading {String} - Heading for the recommendations (optional).
  - heading_align {String} - Heading alignment
  - layout {String} - Layout for the cards - 'carousel' or 'grid' (optional, default is 'carousel').
  - grid_classes {String} - Classes for the products grid
  - always_open_quickbuy {Boolean} - If true, when a product only has a default variant the quickbuy drawer will still
      open and not be directly added to cart

  Usage:
  {% render 'recommendations',
    intent: 'complementary',
    products_to_show: section.settings.products_to_show,
    heading: section.settings.heading,
    heading_align: 'text-start',
    grid_classes: 'grid grid-cols-1 gap-y-4'
  %}
{%- endcomment -%}

{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- liquid
  unless intent
    assign intent = 'related'
  endunless

  if layout == 'carousel' or layout == null
    assign carousel = true
  else
    assign carousel = false
  endif

  if is_cart
    # Fetch 4 extra in case a recommended product is already in the cart, and therefore not shown.
    assign limit = products_to_show | plus: 4
    assign product_id = cart.items.first.product_id
  else
    assign limit = products_to_show
    assign product_id = product.id
  endif
-%}

{%- assign is_in_cart = "" -%}
{%- assign has_bundle = false -%}
{%- for item in cart.items -%}
  {%- if item.product.template_suffix contains "bundle" or item.product.type contains "bundle" or item.product.template_suffix contains "membership" or item.product.type contains "membership" -%}
    {%- assign has_bundle = true -%}
  {%- endif -%}
  {%- if is_in_cart != "" -%}
    {%- assign is_in_cart = is_in_cart | append: "," -%}
  {%- endif -%}
  {%- assign is_in_cart = is_in_cart | append: item.product.id -%}
{%- endfor -%}
{%- unless has_bundle == true -%}

<product-recommendations
  class="block{% if is_cart %} cart-recommendations{% endif %}"
  {% if is_cart %}
    id="cart-recommendations"
  {% endif %}
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_id }}&limit={{ limit }}&intent={{ intent }}"
  data-product-id="{{ product_id }}"
>
  {%- if recommendations.performed and recommendations.products_count > 0 -%}
    {%- if heading != blank and carousel == false -%}
      <h2 class="h6{% if heading_align %} {{ heading_align }}{% endif %}">{{ heading | escape }}</h2>
    {%- endif -%}

    {%- if carousel -%}
      <carousel-slider class="carousel block" inactive>
        <div class="pad_l_r flex items-center justify-between">
          {%- if heading != blank -%}
            <h2 class="rad_h6 flex-auto mb-0 h6 max-w-full{% if heading_align %} {{ heading_align }}{% endif %}">
              {{- heading | escape -}}
            </h2>
          {%- endif -%}

          <div class="slider-nav slide-nav--inline flex no-js-hidden">
            <button
              type="button"
              class="slider-nav__btn tap-target btn has-ltr-icon"
              name="prev"
              aria-controls="slider-{{ section.id }}"
            >
              <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
              {% render 'icon-chevron-left' %}
            </button>
            <button
              type="button"
              class="slider-nav__btn slider-nav__btn--offset tap-target btn has-ltr-icon"
              name="next"
              aria-controls="slider-{{ section.id }}"
            >
              <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
              {% render 'icon-chevron-right' %}
            </button>
          </div>
        </div>

        <div class="pad_l_r relative">
          <div class="slider slider--no-scrollbar" id="slider-{{ section.id }}">
    {%- endif -%}

    <ul
      class="{% if carousel %}slider__grid {% endif %}{{ grid_classes }}{% if settings.card_contain %} small__grid{% endif %}"
      role="list"
    >
      {% assign lastCartItem = cart.items | first %}
      {% if lastCartItem %}
        {%- for property in lastCartItem.properties -%}
          {% if property.first contains '_current_collection' %}
            {% assign collection = collections[property.last] %}
            {% if collection %}
              {% assign count = 1 %}
              {%- for product in collection.products -%}
                {%- unless product.template_suffix contains "membership" or is_in_cart contains product.id -%}
                  <li {% if carousel %} class="slider__item" {% endif %}>
                    <div class="pad_l_r box_pro">
                      <h2 class="rad_18 pro_heading h4 section__heading mb-0 flex-auto text-left">
                        {{ product.title }}
                      </h2>
                      <div class="price_box">
                        {% if block.settings.m_text != blank %}
                          <p class="rad_h6 h6 sub-heading-font mb-0 flex-auto text-center">
                            {{ block.settings.m_text }}
                          </p>
                        {% endif %}
                        <div class="product-info__block_member">
                          <div class="price price--on-sale">
                            <div class="price__default">
                              <strong class="small_f rad_h6 price__current">{{ product.price | money }} </strong>
                              {% if product.price < product.compare_at_price %}
                                <s class="small_f rad_h6 price__was">{{ product.compare_at_price | money }}</s>
                              {% endif %}
                            </div>
                          </div>
                          {% assign product_url = product.url %}
                          {% render 'preview-course-button',
                            settings: settings,
                            product: product,
                            product_url: product_url,
                            section_id: section.id,
                            product_not_for_sale: false
                          %}
                        </div>
                      </div>
                    </div>
                  </li>
                  {% if count >= 4 %}
                    {% break %}
                  {% endif %}
                  {% assign count = count | plus:1 %}
                {%- endunless -%}
              {%- endfor -%}
            {% endif %}
          {% endif %}
        {%- endfor -%}
      {% endif %}
    </ul>

    {%- if carousel -%}
      </div>
      </div>
      </carousel-slider>
    {%- endif -%}
  {%- endif -%}
</product-recommendations>
{%- endunless -%}
